{{> head }}
 {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>El Desierto</h1>
            <p>
Un desierto es un bioma de clima árido, donde las precipitaciones son escasas. 
Estos suelen poseer poca vida, pero eso depende del tipo de desierto; en muchos existe vida abundante, 
la vegetación se adapta a la poca humedad (matorral xerófilo) y la fauna usualmente se oculta durante el día para preservar humedad.

            </p>


        </div>

        <div class="col-4">
            <img src="assets/img/Desert.jpg"  class="img-thumbnail"> 


        </div>
    </div>

{{> footer }}